/* Default Light Theme */
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 0px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("background1.jpg");
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    color: white; 
}
